@import url("./reset.css");
@import url("./font.css");

body {
  font-family: "Inter", sans-serif;
  background: rgb(11, 15, 21);
}

.container {
  max-width: 1466px;
  margin: 0 auto;
  padding: 0px 30px 0px 30px;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgb(11, 15, 21);
  border-bottom: 1px
    linear-gradient(to left top, rgba(64, 193, 251, 0), rgb(64, 193, 251));
  z-index: 1000;
}

.header__container {
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container-block {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__line {
  border-left: 1px solid rgb(37, 44, 65);
  height: 24px;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header__input {
  background-position: 0 10px;
  width: 400px;
  background-repeat: no-repeat;
  text-indent: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgb(61, 72, 101);
  border-radius: 6px;

  background: url("../assets/icon/serach.svg") no-repeat 7px 10px,
    radial-gradient(
      109.66% 100% at 50% 0%,
      rgb(38, 49, 78),
      rgb(37, 43, 61) 100%
    );
  padding: 10px 24px 10px 16px;
  font-size: 18px;
  color: white;
}

.header__input::placeholder {
  color: rgb(109, 121, 156);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.header__container-block-2 {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__nav-text {
  color: rgb(70, 78, 98);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.header__nav-text:hover {
  color: rgb(110, 123, 156);
}

.header__button__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  box-sizing: border-box;
  border-radius: 6px;

  padding: 10px 24px 10px 24px;
  border: none;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.button-gray {
  color: rgb(206, 231, 255);
  background: radial-gradient(
    100.08% 100% at 50% 0%,
    rgb(38, 49, 78),
    rgb(30, 37, 60) 100%
  );
}

.button-blue {
  background: radial-gradient(
    100.04% 100% at 50% 0%,
    rgb(102, 203, 249),
    rgb(15, 181, 255) 100%
  );
  color: rgb(8, 9, 11);
}

.button-blue:hover {
  background: radial-gradient(
    100.04% 100% at 50% 0%,
    rgb(134, 211, 247),
    rgb(58, 191, 252) 100%
  );
}

.button-gray:hover {
  background: radial-gradient(
    100.08% 100% at 50% 0%,
    rgb(49, 57, 79),
    rgb(35, 41, 61) 100%
  );
}

.popup {
  display: none;
}

@media (max-width: 430px) {
  .title__decor-4{
    display: none;
  }
  .title__decor-3{
    display: none;
  }
  .header__container {
    height: 60px;
  }
  .header__line {
    display: none;
  }
  .header__logo img {
    width: 140px;
  }
  .popup {
    position: fixed;
    background: rgb(8, 9, 11);
    display: flex;
    z-index: 100;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: 0.25s ease-in-out;
  }
  .popup.active {
    right: 0;
    transition: 0.25s ease-in-out;
  }

  .header__input {
    display: none;
  }
  .header__input::placeholder {
    font-size: 16px;
  }
  .header__button__container {
    display: none;
  }
  .header__container-block {
    gap: 20px;
  }
  .burger {
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  .burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #fff;
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .burger.active {
    width: 40px;
  }
  .header__nav {
    display: none;
  }
  .header__nav.active {
    display: flex;
    gap: 90px;
    flex-direction: column;
    padding-top: 100px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 100;
    font-size: 32px;
  }

  .header__nav.active .header__nav-text {
    font-size: 55px;
  }
}

.title {
  position: relative;
  overflow: hidden;
}

.title__decor-2 {
  position: absolute;
  left: 10px;
  bottom: -333px;
  width: 780px;
  height: 180px;
  filter: blur(200px);
  background: rgba(30, 120, 255, 0.24);
}

.title__decor-3{
  position: absolute;
  bottom: -14px;
  right: 0;
  width: 500px;
}

.title__decor-4{
  width: 550px;
  position: absolute;
  right: 360px;
  transform: rotate(180deg);
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title__decor {
  position: absolute;
  right: -115px;
  top: -180px;
  width: 780px;
  height: 180px;
  filter: blur(150px);
  background: rgba(30, 160, 255, 0.32);
}

.title__block-1 {
  margin-top: 88px;
}

.title__block-1-logo {
  box-sizing: border-box;
  border-top: 1px solid rgb(30, 40, 68);
  border-radius: 6px;

  background: radial-gradient(
    102.18% 100% at 50% 0%,
    rgb(19, 26, 46),
    rgb(17, 22, 36) 100%
  );
  padding: 8px 12px 8px 12px;
}

.title__block-1-title {
  color: rgb(213, 234, 255);
  font-size: 72px;
  font-weight: 500;
  line-height: 80px;
  max-width: 698px;
  margin-top: 24px;
}

.title__block-1-input {
  margin-top: 48px;
  background-position: 0 10px;
  width: 420px;
  background-repeat: no-repeat;
  text-indent: 20px;
  box-sizing: border-box;
  border-radius: 6px;

  background: url("../assets/icon/letter.svg") no-repeat 7px 11px,
    radial-gradient(
      111.36% 100% at 50% 0%,
      rgb(38, 49, 78),
      rgb(37, 43, 61) 100%
    );
  padding: 10px 24px 10px 16px;
  font-size: 18px;
  color: white;
}

.title__block-1-input::placeholder {
  color: rgb(109, 121, 156);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

#Button-title-block-1 {
  margin-left: -10px;
}

.title__block-2 {
  z-index: 200;
}

.title__block-2-chart {
  background: linear-gradient(180deg, rgb(27, 37, 49), rgb(28, 36, 44) 100%);
  border-radius: 10px;
}

.title__line {
  background: linear-gradient(
    to left top,
    rgba(64, 193, 251, 0),
    rgb(64, 193, 251)
  );
  width: 100%;
  height: 2px;
}

.title__line-2 {
  margin-top: 50px;
  background-color: rgb(37, 44, 65);
  width: 100%;
  height: 2px;
}

@media (max-width: 430px) {
  .title__container {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
  canvas {
    width: 320px;
    height: 160px;
  }
  .title__block-1-logo img {
    width: 280px;
  }
  .title__block-1-logo {
    max-width: 300px;
  }
  .title__block-1 {
    margin-top: 30px;
  }
  .title__block-1-title {
    color: rgb(213, 234, 255);
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    max-width: 698px;
    margin-top: 0px;
  }
  .title__block-1-input {
    margin-top: 39px;
    width: 230px;
    padding: 5px 12px 5px 8px;
    background: url(../assets/icon/letter.svg) no-repeat 4px 6px,
      radial-gradient(
        111.36% 100% at 50% 0%,
        rgb(38, 49, 78),
        rgb(37, 43, 61) 100%
      );
  }
  .button {
    padding: 5px 12px 5px 12px;
  }
  .title__line-2 {
    margin-top: 34px;
  }
}

.crypto__block {
  display: grid;
  border-collapse: collapse;
  grid-template-columns:
    minmax(160px, 3fr)
    minmax(70px, 1fr)
    minmax(70px, 1fr)
    minmax(70px, 1fr)
    minmax(70px, 1fr);
  margin-top: 100px;
  box-sizing: border-box;
  border: 1px solid rgb(34, 45, 62);
  border-radius: 16px;

  background: radial-gradient(
    100.12% 100% at 50% 0%,
    rgb(38, 49, 78),
    rgb(19, 24, 32) 0.01%,
    rgb(15, 21, 30) 100%
  );
  min-width: 100%;
  min-height: 100%;
}

thead,
tbody,
tr {
  display: contents;
}

.crypto__block-title {
  border-bottom: 1px solid rgb(34, 45, 62);
}

th,
td {
  color: rgb(199, 225, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
}

#crypto__block-title-assets {
  text-align: left;
}

.crypto__block-title {
  color: rgb(109, 121, 156);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px;
}

.crypto__block-coin-text {
  color: rgb(199, 225, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
  text-align: start;
}

.crypto__block-coin-text-span {
  color: rgb(82, 90, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.25px;
  text-align: center;
}

.crypto__block-coin-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px;
}

.crypto__block-coin-text-price {
  color: rgb(199, 225, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto__block-coin-text-change {
  color: rgb(199, 225, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-change {
  color: rgb(249, 75, 85);
}

.green-change {
  color: #58f0a7;
}

.crypto__block-coin-text-volume {
  color: rgb(199, 225, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto__block-coin-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto__block-coin-button {
  border: 1px solid rgb(47, 189, 252);
  border-radius: 6px;
  padding: 6px 16px 6px 16px;
  background-color: rgba(0, 125, 215, 0);

  color: rgb(47, 189, 252);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.crypto__block-coin-button:hover {
  background-color: rgba(0, 125, 215, 0.407);
  transition: 0.2s;
}

#crypto-block-body-text {
  border-bottom: 1px solid rgb(34, 45, 62);
}

.crypto__button-assets {
  margin-top: 16px;
  width: 100%;
  border: none;
  padding: 10px 24px 10px 24px;
  box-sizing: border-box;
  border-radius: 8px;

  background: radial-gradient(
    700.75% 100% at 50% 0%,
    rgb(38, 49, 78),
    rgb(30, 37, 60) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: rgb(206, 231, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.crypto__button-assets:hover {
  background: radial-gradient(
    700.75% 100% at 50% 0%,
    rgb(50, 58, 82),
    rgb(37, 42, 59) 100%
  );
}

.crypto__line {
  background-color: rgb(37, 44, 65);
  width: 100%;
  height: 2px;
  margin-top: 87px;
}

@media (max-width: 430px) {
  .crypto__line {
    margin-top: 45px;
  }
  .crypto__block {
    grid-template-columns:
      minmax(70px, 1fr)
      minmax(70px, 1fr)
      minmax(70px, 1fr)
      minmax(70px, 1fr);
    margin-top: 45px;
  }
  .crypto__block-coin-text-container img {
    display: none;
  }
  .crypto__block-coin-button-container {
    display: none;
  }
  #crypto__block-title-lst {
    display: none;
  }
  .crypto__block-coin-text-span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .crypto__block-coin-text {
    font-size: 16px;
  }
  .crypto__block-coin-text-span {
    font-size: 14px;
  }
  .crypto__block-coin-text-container {
    padding: 20px;
  }
  .crypto__block-coin-text-price {
    font-size: 18px;
  }
  .crypto__block-coin-text-change {
    font-size: 18px;
  }
  .crypto__block-coin-text-volume {
    font-size: 13px;
  }
}

.bitles {
  position: relative;
  overflow: hidden;
}

.bitles-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bitles__block-1-title {
  margin-top: 88px;
  max-width: 680px;
  color: rgb(213, 234, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}

.bitles__block-1-subtitle {
  max-width: 640px;
  margin-top: 16px;
  color: rgb(70, 78, 98);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.bitles__block-2 {
  margin-top: 80px;
  width: 580px;
  position: relative;
  display: grid;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  place-items: center;
}

.bitles__line {
  margin-top: 80px;
  background: linear-gradient(to right, transparent, #40c1fb, transparent);
  width: 100%;
  height: 2px;
}

.bitles-decor {
  position: absolute;
  width: 277.74px;
  height: 127.52px;
  filter: blur(50px);
  background: linear-gradient(
    180deg,
    rgba(0, 230, 244, 0.31) -1.501%,
    rgba(0, 230, 244, 0) 80.458%
  );
  transform: rotate(-52.59deg);
  top: 68px;
  right: 122px;
}

.bitles-decor-2 {
  position: absolute;
  left: -100px;
  width: 368px;
  height: 132px;
  filter: blur(180px);
  background: rgba(57, 184, 255, 0.32);
}

@media (max-width: 430px) {
  .bitles-container {
    flex-direction: column;
  }
  .bitles__block-2 {
    width: 400px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 28px;
    grid-template-columns:
      minmax(60px, 0.5fr)
      minmax(60px, 0.5fr);
    grid-column-gap: 0px;
  }
  .bitles__block-1-title {
    margin-top: 30px;
  }
  .bitles-decor {
    top: 61px;
    right: 41px;
  }
  .bitles__block-1-title {
    font-size: 42px;
    line-height: 50px;
  }
  .bitles__block-1-subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .bitles__line {
    margin-top: 45px;
  }
  .bitles__block-2 img {
    width: 150px;
  }
}

.advantages__container {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:
    minmax(0px, 0.29fr)
    minmax(0px, 0.29fr)
    minmax(0px, 0.29fr);
  align-items: center;
  justify-content: center;
  grid-row-gap: 80px;
  grid-column-gap: 200px;
}

.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.advantages__block__title {
  margin-top: 24px;
  color: rgb(213, 234, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 145.02%;
  max-width: 211px;
}

.advantages__block__subtitle {
  margin-top: 8px;
  max-width: 307px;
  color: rgb(70, 78, 98);
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.advantages__line {
  margin-top: 80px;
  background: linear-gradient(to right, transparent, #40c1fb, transparent);
  width: 100%;
  height: 2px;
}

@media (max-width: 430px) {
  .advantages__container {
    grid-template-columns: none;
    grid-row-gap: 30px;
    margin-top: 40px;
  }
  .advantages__line {
    margin-top: 40px;
  }
  .advantages__block img {
    width: 50px;
  }
}

.register__block {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__block__title {
  margin-top: 88px;
  max-width: 698px;
  color: rgb(213, 234, 255);
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  z-index: 100;
}
.register__form-input {
  margin-top: 48px;
  background-position: 0 10px;
  width: 420px;
  background-repeat: no-repeat;
  text-indent: 20px;
  box-sizing: border-box;
  border-radius: 6px;

  background: url("../assets/icon/letter.svg") no-repeat 7px 11px,
    radial-gradient(
      111.36% 100% at 50% 0%,
      rgb(38, 49, 78),
      rgb(37, 43, 61) 100%
    );
  padding: 10px 24px 10px 16px;
  font-size: 18px;
  color: white;
}

.register__line {
  background-color: rgb(37, 44, 65);
  width: 100%;
  height: 2px;
  margin-top: 160px;
}

.register {
  position: relative;
  overflow: hidden;
}

.register__decor__container {
  top: -95px;
  right: 437px;
  position: absolute;
  overflow: hidden;
  width: 1200px;
  height: 200px;
  transform: rotate(34.67deg);
}

.register__decor {
  /* transform-origin: 0 0; */
  position: absolute;
  filter: blur(50px);
  background: linear-gradient(to right, transparent, #00baf4, transparent);
  width: 1200px;
  height: 60px;
}

.register__decor-2 {
  top: -51px;
  right: 387px;
  position: absolute;
  filter: blur(100px);
  background: rgba(57, 184, 255, 0.2);
  width: 688.77px;
  height: 240px;
}

.register__decor-3 {
  position: absolute;
  width: 797.09px;
  height: 240px;
  top: -232px;
  filter: blur(100px);
  background: rgba(0, 118, 227, 0.24);
}

.register__form-input::placeholder {
  color: rgb(109, 121, 156);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.footer__block__logo {
  margin-top: 63px;
}

.footer__block-socials {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__button__container {
  margin-top: 67px;
}

.footer__block-2 {
  display: flex;
  align-items: start;
  gap: 56px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__subblock {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}

.footer__subblock-text {
  color: rgb(70, 78, 98);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.footer__text {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(39, 49, 74);
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
}

.footer__subblock-text:hover {
  color: rgb(110, 123, 156);
}

@media (max-width: 430px) {
  .register__block__title {
    margin-top: 40px;
    line-height: 50px;
  }
  .register__form-input {
    width: 230px;
    padding: 5px 12px 5px 8px;
    background: url(../assets/icon/letter.svg) no-repeat 4px 6px,
      radial-gradient(
        111.36% 100% at 50% 0%,
        rgb(38, 49, 78),
        rgb(37, 43, 61) 100%
      );
  }
  .register__line {
    margin-top: 70px;
  }
  .register__decor__container {
    top: -56px;
    right: -91px;
    width: 1200px;
    height: 258px;
    transform: rotate(20.67deg);
  }
  .footer__block__logo {
    width: 145px;
    margin-top: 40px;
  }
  .footer__block-socials-img {
    width: 25px;
    gap: 10px;
  }
  .footer__block-socials {
    margin-top: 25px;
  }
  .footer__button__container {
    margin-top: 30px;
  }
  #footer__button {
    padding: 5px 6px 5px 6px;
  }
  .footer__block-2 {
    gap: 3px;
    margin-top: 46px;
  }
  .footer__subblock-text {
    font-size: 16px;
  }
  .footer__subblock {
    gap: 12px;
  }
  .footer__text {
    margin-top: 22px;
    font-size: 13px;
  }
}
